body{
    background-image: url("/Users/zoraiz/Desktop/Chefs Compass/images/main.jpg");
    background-size:cover;
    background-attachment: fixed;
}

.logo-image{
    width: 58px;
    height: 41.44px;
    display: inline;
    margin: 12px 12px 12px 12px;
    
}
.Chefs-Compass{
    font-size: 32px;
    text-align: center;
    display: inline;
    position:absolute;
    top: 2.3%;
    left: 42.8%;
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
}
.headiv{
    margin-left: 0px;
    margin-right: 0px;
}
.top-tagline{
    text-align: center;
    display: inline;
    position:absolute;
    top: 6%;
    left: 44.8%;
    font-family: 'Dosis', sans-serif;
    font-weight: 500;
}
.settings_button{
    position: absolute;
    top: 2%;
    left: 94.5%;
}
.loginbtn{
    position: absolute;
    top: 2.55%;
    left: 87%;
    background-color: transparent;
    border-color: transparent;

}

.loginBtnDiv{
    width: 84px;
    height: 25px;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    border-radius: 6px;
    font-family: 'Dosis', sans-serif;
    color: white;
}
.sbarBase{
    background-color: white;
    position: absolute;
    width: 60%;
    height: 3.5%;
    left: 20%;
    top: 15%;
    border-radius: 76px;
}
.flBase{
    background-color:black;
    position: absolute;
    width: 17%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 76px 0px 0px 76px;
}
.flText{
    font-family: 'Dosis', sans-serif;
    font-size: 120%;
    color: white;
    margin-left: 20%;
}
.btnFL{
    background-color: transparent;
    border-color: transparent;
    padding:0;
    margin: 0;
    width: 90%;
}

.navBar{
    background-color: white;
    position: absolute;
    width: 50%;
    height: 3.5%;
    left: 25%;
    top: 22%;
    border-radius: 76px;
}
.recipeTxt{
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    display:inline;
    margin-right: 35px;
    margin-left: 40px;
}
.shopTxt{
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    display:inline;
    margin-right: 35px;
    margin-left: 50px;
}
.pricingTxt{
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    display:inline;
    margin-right: 35px;
    margin-left: 60px;
}

.aboutTxt{
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    display:inline;
    margin-right: 40px;
    margin-left: 60px;
}
.contactTxt{
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
    display:inline;
    margin-right: 20px;
    margin-left: 50px;
}

.btnNav{
    margin: 0;
    padding: 0;
    background-color: transparent;
    border-color: transparent;
    
}

.mainCard{
    position: absolute;
    top: 30%;
    left: 10%;
    width: 80%;
    height: 60%;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    border-radius: 6px;
    font-family: 'Dosis', sans-serif;
    color: white;
}



.c1{
    position: absolute;
    background-color: white;
    width: 315px;
    height: 393px;
    left: 5%;
    top: 43px; 
    border-radius: 10px;
}
.c2{
    position: absolute;
    background-color: white;
    width: 315px;
    height: 393px;
    left: 36.5%;
    top: 43px; 
    border-radius: 10px;
}
.c3{
    position: absolute;
    background-color: white;
    width: 315px;
    height: 393px;
    left: 68%;
    top: 43px; 
    border-radius: 10px;
}
.tutorialsImg{
    width: 315px;
    height: 393px;
    border-radius: 10px;
    object-fit: cover;
}
.ingredientsImg{
    width: 315px;
    height: 393px;
    border-radius: 10px;
    object-fit: cover;
}

.recipeImg{
    width: 315px;
    height: 393px;
    border-radius: 10px;
    object-fit: cover;
}

.c1Txt{
    font-family: 'Dosis', sans-serif;
    font-size: 1.8rem;
    position:absolute;
    top: 88%;
    left: 8.9%;
    margin-right: 40px;
    margin-left: 60px;
    color:white;

}
.c2Txt{
    font-family: 'Dosis', sans-serif;
    font-size: 1.8rem;
    position:absolute;
    top: 88%;
    left: 40%;
    margin-right: 40px;
    margin-left: 60px;
    color:white;

}
.c3Txt{
    font-family: 'Dosis', sans-serif;
    font-size: 1.8rem;
    position:absolute;
    top: 88%;
    left: 73%;
    margin-right: 40px;
    margin-left: 60px;
    color:white;

}
.actionCall{
    position: absolute;
    top: 125%;
    left: 10%;
    width: 80%;
    height: 60%;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    border-radius: 6px;
    font-family: 'Dosis', sans-serif;
    color: white;
}
.actionCard{
    position: absolute;
    background-color: white;
    width: 740px;
    height: 420px;
    left: 5%;
    top: 10%; 
    border-radius: 10px;

}
.actionImg{
    object-fit: cover;
    width: 740px;
    height: 420px; 
    border-radius: 10px;
}
.actiontxtDiv{
    position: absolute;
    width: 300px;
    height: 50px;
    left: 75%;
    top: 39%; 
    border-radius: 10px;
}
.actionTxt{
    font-size: 3rem;
}

.actionBtn{
    position:absolute;
    left: 75%;
    top: 70%;
    border-radius: 30px;
}
.cuisines{
    position: absolute;
    top: 220%;
    left: 10%;
    width: 80%;
    height: 80%;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    border-radius: 6px;
    font-family: 'Dosis', sans-serif;
    color: white;
}
.asian{
    position: absolute;
    background-color: white;
    width: 250px;
    height: 250px;
    left: 8%;
    top: 7%; 
    border-radius: 10px;
}
.european{
    position: absolute;
    background-color: white;
    width: 250px;
    height: 250px;
    left: 39%;
    top: 7%; 
    border-radius: 10px;

}
.african{
    position: absolute;
    background-color: white;
    width: 250px;
    height: 250px;
    left: 70%;
    top: 7%; 
    border-radius: 10px;


}
.northAmerican{
    position: absolute;
    background-color: white;
    width: 250px;
    height: 250px;
    left: 8%;
    top: 55%; 
    border-radius: 10px;

}
.southAmerican{
    position: absolute;
    background-color: white;
    width: 250px;
    height: 250px;
    left: 39%;
    top: 55%; 
    border-radius: 10px;
  
}
.australian{
    position: absolute;
    background-color: white;
    width: 250px;
    height: 250px;
    left: 70%;
    top: 55%; 
    border-radius: 10px;

}

.cuisineImg{
    object-fit: cover;
    width: 250px;
    height: 250px;
    border-radius: 10px;
}

.feats{
    position: absolute;
    top: 335%;
    left: 10%;
    width: 80%;
    height: 50%;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    border-radius: 6px;
    font-family: 'Dosis', sans-serif;
    color: white;

}
.feat1{
    position: absolute;
    background-color: white;
    width: 270px;
    height: 320px;
    left: 7%;
    top: 15%; 
    border-radius: 10px;
}
.feat2{
    position: absolute;
    background-color: white;
    width: 270px;
    height: 320px;
    left: 38%;
    top: 15%; 
    border-radius: 10px; 
}
.feat3{
    position: absolute;
    background-color: white;
    width: 270px;
    height: 320px;
    left: 70%;
    top: 15%; 
    border-radius: 10px;   
}
.footer{
    position: absolute;
    top: 410%;
    width: 100%;
    height: 50%;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    border-radius: 6px;
    font-family: 'Dosis', sans-serif;
    color: white;


}
/* LOGIN CSS */
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
  /* ----- */


  /* ------PRICING CSS------- */

  .plansCard{
    position: absolute;
    top: 32%;
    left: 5%;
    width: 90%;
    height: 59%;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    border-radius: 6px;
    font-family: 'Dosis', sans-serif;
    color: white;
  }

  .planBasic{
    position: absolute;
    background-color: white;
    width: 280px;
    height: 370px;
    left: 9%;
    top: 12%; 
    border-radius: 10px;

  }
  .planPro{
    position: absolute;
    background-color: white;
    width: 280px;
    height: 370px;
    left: 40%;
    top: 12%; 
    border-radius: 10px;
  }
  .planProplus{
    position: absolute;
    background-color: white;
    width: 280px;
    height: 370px;
    left: 70%;
    top: 12%; 
    border-radius: 10px;
  
  }

.basicH1{
    position: absolute;
    top: 90%;
    left: 17%;
    font-size: 2.2rem;
}
.proH1{
    position: absolute;
    top: 90%;
    left:49%;
    font-size: 2.2rem;
}
.plusH1{
    position: absolute;
    top: 90%;
    left: 78.7%;
    font-size: 2.2rem;
}

/* -------RECIPE PAGE CSS--------- */
.recipeBase{
    position: absolute;
    top: 32%;
    left: 5%;
    width: 90%;
    height: 59%;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    border-radius: 6px;
    font-family: 'Dosis', sans-serif;
    color: white;
}
.recipeImagebox{
    position: absolute;
    background-color: white;
    width: 450px;
    height: 450px;
    left: 7%;
    top: 12%; 
    border-radius: 10px;
  
}