{% extends 'base.html' %}
{% load static %}
{% block body %}
    <!-- ----- MAIN CARDS------ -->
    <div class="mainCard">
        <div class="c1">
            <img class="tutorialsImg" src="{% static 'images/jonathan-borba-uB7q7aipU2o-unsplash.jpg' %}" alt="">
        </div>
        <div class="c2">
            <img class="ingredientsImg"  src="{% static 'images/nathan-dumlao-bRdRUUtbxO0-unsplash.jpg' %}" alt="">
        </div>
        <div class="c3">
            <img  class="recipeImg" src="{% static 'images/calum-lewis-vA1L1jRTM70-unsplash.jpg' %}" alt="">
        </div>
        <!-- ---- Main Card Headings---- -->
        <p class="c1MainTxt">Tutorials</p>
        <p class="c2MainTxt">Ingredients</p>
        <p class="c3MainTxt">Recipes</p>
        <!-- -----Main Card Lower Text----- -->
        <p class="c1LowerTxt">New to the Art of Cooking? We'll guide you.</p>
        <p class="c2LowerTxt">Can't find the ingredients? We'll Deliver.<p>
        <p class="c3LowerTxt">Need the Original Tastes? We've got you.</p> 

    </div>
    
    <!-- ------------CALL TO ACTION---------- -->
    <div class="actionCall">
        <div class="actionCard">
            <img class="actionImg" src="{% static 'images/katie-smith-uQs1802D0CQ-unsplash (1).jpg' %}" alt="">
        </div>
        <div class="actiontxtDiv">
            <h1 class="actionTxt">Let's Get Cookin'.</h1>
        </div>
        <button  class="btn actionBtn btn-lg btn-success" onclick="window.location.href='/Users/zoraiz/Desktop/Chefs Compass/login.html'">Create Account</button>
    </div>
    <!-- --------CUISINES CARDS------- -->
    <h1 class="cuisineTxt">Cuisines</h1>
    <div class="cuisines">
        <div class="asian">
            <img class="cuisineImg" src="{% static 'images/jason-cooper-XEhchWQuWyM-unsplash (1).jpg' %}" alt="">
            <p class="asianTxt">Asian</p>
        </div>
        <div class="european">
            <img class="cuisineImg" src="{% static 'images/joss-woodhead-3wFRlwS91yk-unsplash.jpg' %}" alt="">
            <p class="euroTxt">European</p>
        </div>
        <div class="african">
            <img class="cuisineImg" src="{% static 'images/hu-chen-60XLoOgwkfA-unsplash.jpg' %}"  alt="">
            <p class="afroTxt">African</p>
        </div>
        <div class="northAmerican">
            <img class="cuisineImg" src="{% static 'images/touann-gatouillat-vergos-dSBJv66Yjlk-unsplash.jpg' %}" alt="">
            <p class="nramericnTxt">North-American</p>
        </div>
        <div class="southAmerican">
            <img class="cuisineImg" src="{% static 'images/david-vives-tm7yOln4RYs-unsplash.jpg' %}" alt="">
            <p class="stamericnTxt">South-American</p>
        </div>
        <div class="australian">
            <img class="cuisineImg" src="{% static 'images/graham-holtshausen-F8ad-ZksufU-unsplash.jpg' %}"
             alt="">
             <p class="ausiTxt">Australian</p>
        </div>
    </div>
    <!-- ------FEATURES------- -->
    <h1 class="featuresHead">Features</h1>
    <div class="feats">
        <div class="feat1">
            <img class="ftImg" src="{% static 'images/88y_c5m6opbictsiqc1j.jpg' %}" alt="">
            <p class="ftTxt">Filter Recipes to avoid allergies you have!</p>
        </div>
        <div class="feat2">
            <img class="ftImg" src="{% static 'images/66785.jpg' %}" alt="">
            <p class="ftTxt">Filter Recipes to cater your health conditions!</p>
        </div>
        <div class="feat3">
            <img class="ftImg" src="{% static 'images/7471642.jpg' %}" alt="">
            <p class="ftTxt">Get Nutrition facts with each recipe!</p>
        </div>
    </div>


    <div class="footer">
        <p class="footerTxt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vitae faucibus arcu. Etiam elit sapien, iaculis in quam ut, tempus bibendum magna. Suspendisse tristique blandit ipsum, eu eleifend diam malesuada eget. Proin dignissim, mauris eu tempor pulvinar, magna orci suscipit odio, vitae rhoncus dolor ante quis nisl. Donec ac nunc vulputate, facilisis purus a, iaculis sem. Etiam eu varius tellus. Ut eleifend diam sed elit pellentesque iaculis.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vitae faucibus arcu. Etiam elit sapien, iaculis in quam ut, tempus bibendum magna. Suspendisse tristique blandit ipsum, eu eleifend diam malesuada eget. Proin dignissim, mauris eu tempor pulvinar, magna orci suscipit odio, vitae rhoncus dolor ante quis nisl. Donec ac nunc vulputate, facilisis purus a, iaculis sem. Etiam eu varius tellus. Ut eleifend diam sed elit pellentesque iaculis.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vitae faucibus arcu. Etiam elit sapien, iaculis in quam ut, tempus bibendum magna. Suspendisse tristique blandit ipsum, eu eleifend diam malesuada eget. Proin dignissim, mauris eu tempor pulvinar, magna orci suscipit odio, vitae rhoncus dolor ante quis nisl. Donec ac nunc vulputate, facilisis purus a, iaculis sem. Etiam eu varius tellus. Ut eleifend diam sed elit pellentesque iaculis.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vitae faucibus arcu. Etiam elit sapien, iaculis in quam ut, tempus bibendum magna. Suspendisse tristique blandit ipsum, eu eleifend diam malesuada eget. Proin dignissim, mauris eu tempor pulvinar, magna orci suscipit odio, vitae rhoncus dolor ante quis nisl. Donec ac nunc vulputate, facilisis purus a, iaculis sem. Etiam eu varius tellus. Ut eleifend diam sed elit pellentesque iaculis.
        </p>   
    </div>
{% endblock %}